.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;

  &.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;

  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }

  .edit-icon {
    color: #fff;
  }
}
