.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.header {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.user-header {
  display: flex;
  margin: 32px 30px;

  .header {
    margin: 5px auto;
  }
}
